@font-face {
    font-family: SlimJoe;
    src: url("fonts/Slim-Joe.otf");
}

@font-face {
    font-family: Langdon;
    src: url("fonts/Langdon.otf");
}

@font-face {
    font-family: Tryst;
    src: url("fonts/Tryst-Regular.otf");
}

html body {
    background: url('img/bg.jpg') repeat scroll 0% 0% #151926;
}

.navbar {
    background: none;
    border: none;
    margin-top: 10px;
}

.jumbotron {
    background: none;
    text-align: center;
    color: white;
    font-family: Tryst;
    font-size: 2vmax;
    line-height: 1.5;
    padding-top: 0px;
    padding-bottom: 0px;
}

.jumbotron .bold-name {
    color: #FC0046;
    font-family: Langdon;
    letter-spacing: 3px;
}

.navbar-nav > .active {
    color: white;
    background: none;
}

.jumbotron h3 {
    padding: 1px 2px;
    font-family: SlimJoe;
    font-size: 1.3vmax;
}

#banner-city {
    color: #8378C7;
}

#banner-language {
    color: #BFBC3D;
}

.social-icon-section {
    font-size: 1em;
}

.st-icon-yahoo:before {
    color: #36383A;
}

.bottom-column {
    color: white;
    text-align: center;
    font-family: SlimJoe;
}

.bottom-column img {
    width: 230px;
}

